<!doctype html>
  <html lang="en">
  <head>
  <meta charset="UTF-8">
  <title>That's Enuffhh</title>

  <style type="text/css">
      @charset "UTF-8";
/* CSS Document */
::-webkit-scrollbar {
    display: none;
}
@font-face { 
  font-family: bebasen; 
  src: url('../fonts/BEBAS.TTF') format("truetype") ; 
}
@font-face { 
  font-family: bebasme; 
  src: url('../fonts/letraprueba.ttf') format("truetype") ; 
}
@font-face { 
  font-family: CalibriReg; 
  src: url('../fonts/Calibri.ttf') format("truetype") ; 
}
</style>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body onLoad="MM_preloadImages('images/camiloh.png')" style="background-color: black">

      <% if current_user %> 
        <%= link_to "Admin", rails_admin_path, :class => "log" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => "log1" %>
      <% else %> 
      <% end %>
  
  <div class="separation">hello</div>
  <div class="vid-container">
     <iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLGU97aKgGMA41S7UDmBSIzl1Tuol-OFO2&index=0" id="video" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:101%;width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px" height="101%" width="100%"></iframe>
  </div>

  <div style="clear:both;"></div>
  <div class="logo">
    <img src="../images/logo.png">
    <div class="down">
        <img src="../images/down.gif" style="width:50px">
    </div>
  </div>

  <div style="clear:both;"></div>
    <div class="up">

        <img src="../images/up.gif" style="width:30px">
    </div>
  <div class="menuBar">
      <div class="content">
         <a href="javascript:history.go(0)">
           <div class="enuff">

              <img src="../images/enuff.png">

           </div>
         </a>
         <a href="javascript:history.go(0)">
            <div class="logo_m">

                <img src="../images/logo_2.png" alt="Logo">

            </div>
         </a>

  <div class="nav"> 
      <div class="mainmenu">
          <ul>
             <li class="hot_box_bttn">HOT BOX</li>
             <li class="on-air">  MEDIA</li>
             <li class="contact_bttn"> CONTACT</li>

             <li><a href="http://theheavyhitterdjs.com/" target="_blank" id="nav-link" style="text-decoration: none">

                    <main>HEAVY HITTERS</main>
                  </a>
              </li>
              <li style="margin-left:30px">

                  <a href="http://theheavyhitterdjs.com/enuff.html" target="_blank" id="nav-link1" style="text-decoration: none">

                    <main>ENUFF</main>
                  </a>
              </li>
              <div class="sicon">

                 <a href="https://www.facebook.com/DJ-Enuff-6222743052" target="_blank"><img src="../images/fbc.png"></a>
              </div>
              <div class="sicon">
                 <a href="https://twitter.com/djenuff" target="_blank"><img src="../images/tw.png"></a>
              </div>
              <div class="sicon">
                 <a href="https://www.instagram.com/djenuff" target="_blank"><img src="../images/ig.png"></a>

              </div>
          </ul>
      </div>
  </div>
</div>
        
    <div class="content_sub">

       <div class="playlist">
            <div class="title_cont">
              Playlist
            </div>
        <div class="body-cont-sub">
            <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Adjenuff%3Aplaylist%3A2ZZtoRm4RSBa6zqjPIjecR&theme=white" width="100%" height="380" frameborder="0" allowtransparency="true"></iframe>
        </div>
     </div>
    
     <div class="oa">
        <div class="title_cont">
          Artist Interviews
        </div>
        <div class="body-cont-sub">
          <iframe height="101%" width="100%" id="video" src="https://www.youtube.com/embed/videoseries?list=PLGU97aKgGMA6GHYk5yr3jXiA8aUMvujft" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:101%;width:100%; margin-top: -20px;"  allowfullscreen></iframe>
         </div>
       </div>
       <div class="close_sub_cat">
           <img src="../images/cancel.svg" style="width:20px">
        </div>

    </div>


    <div class="content_sub_sec">
        <div class="close_sub_cat_sec">

             <img src="../images/cancel.svg" style="width:  20px">
        </div>

     <div class="inner contact">
                  <!-- Form Area -->
          <div class="contact-form">
              <div class="title_cont_forms">Book DJ Enuff</div>
                      <!-- Form  -->
                      <div class="message text-left">Message Sent!</div>
                      <form class="contact-us" data-mailto="djenuffbooking@gmail.com">  

                          <!-- Left Inputs -->
                          <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                              <!-- Name -->
                              <input type="text" name="name" id="name" required class="form" placeholder="Name" />
                              <!-- Email -->
                              <input type="email" name="mail" id="mail" required class="form" placeholder="Email" />
                              <!-- Subject -->
                              <input type="text" name="_subject" id="subject" required class="form" placeholder="Subject" />
                              <!-- Right Inputs -->
                              <div class="wow animated slideInRight" data-wow-delay=".5s">
                                  <!-- Message -->
                                  <textarea name="message" id="message" width="260%" class="form textarea"  placeholder="Message"></textarea>
                              </div><!-- End Right Inputs -->
                              </div><!-- End Left Inputs -->

                          <!-- Bottom Submit -->
                          <div class="relative fullwidth col-xs-12">
                              <!-- Send Button -->
                              <button type="submit" id="submit" name="submit" class="form-btn semibold">Send Message</button> 
                          </div><!-- End Bottom Submit -->
                          <!-- Clear -->
                          <div class="clear"></div>
                      </form>

                      <!-- Your Mail Message -->
                      <div class="mail-message-area">
                          <!-- Message -->
                          <div class="alert gray-bg mail-message not-visible-message">
                              <strong>Thank You !</strong> Your email has been delivered.
                          </div>
                      </div>

                  </div><!-- End Contact Form Area -->
                  
                  <div class="contact-form">
                      <!-- Form -->
                      <div class="title_cont_forms">The Hot Box</div>

                      <div class="message text-left">Message Sent!</div>
                      <form class="contact-us" data-mailto="thatsenuffhotbox@gmail.com">

                          <!-- Left Inputs -->
                          <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                              <!-- Name -->
                              <input type="text" name="name" id="name" required class="form" placeholder="Name" />
                              <!-- Email -->
                              <input type="email" name="mail" id="mail" required class="form" placeholder="Email" />
                              <!-- Subject -->

                              <input type="text" name="_subject" id="subject" required class="form" placeholder="Subject" />
                              <!-- Right Inputs -->
                            <div class="wow animated slideInRight" data-wow-delay=".5s">
                                <!-- Message -->
                                <textarea name="message" id="message" class="form textarea"  placeholder="Message"></textarea>
                            </div><!-- End Right Inputs -->
                          </div><!-- End Left Inputs -->

                          <!-- Bottom Submit -->
                          <div class="relative fullwidth col-xs-12">
                              <!-- Send Button -->
                              <button type="submit" id="submit" name="submit" class="form-btn semibold">Send Message</button> 
                          </div><!-- End Bottom Submit -->
                          <!-- Clear -->
                          <div class="clear"></div>
                      </form>

                      <!-- Your Mail Message -->
                      <div class="mail-message-area">
                          <!-- Message -->
                          <div class="alert gray-bg mail-message not-visible-message">
                              <strong>Thank You !</strong> Your email has been delivered.
                          </div>
                      </div>

                  </div> <!-- second contact ends here -->
                  
                  <div class="contact-form">
                      <!-- Form -->

                    <div class="title_cont_forms">Artist Interviews</div>
                      <div class="message text-left">Message Sent!</div>
                      <form class="contact-us" data-mailto="thatsenuffinterviews@gmail.com">

                          <!-- Left Inputs -->
                          <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                              <!-- Name -->
                              <input type="text" name="name" id="name" required class="form" placeholder="Name" />
                              <!-- Email -->
                              <input type="email" name="mail" id="mail" required class="form" placeholder="Email" />
                              <!-- Subject -->

                              <input type="text" name="_subject" id="subject" required class="form" placeholder="Subject" />
                              <!-- Right Inputs -->
                            <div class="wow animated slideInRight" data-wow-delay=".5s">
                                <!-- Message -->
                                <textarea name="message" id="message" class="form textarea"  placeholder="Message"></textarea>
                            </div><!-- End Right Inputs -->
                          </div><!-- End Left Inputs -->

                          <!-- Bottom Submit -->
                          <div class="relative fullwidth col-xs-12">
                              <!-- Send Button -->
                              <button type="submit" id="submit" name="submit" class="form-btn semibold">Send Message</button> 
                          </div><!-- End Bottom Submit -->
                          <!-- Clear -->
                          <div class="clear"></div>
                      </form>

                      <!-- Your Mail Message -->
                      <div class="mail-message-area">
                          <!-- Message -->
                          <div class="alert gray-bg mail-message not-visible-message">
                              <strong>Thank You !</strong> Your email has been delivered.
                          </div>
                      </div>

                  </div> <!-- Third contact ends here -->
                  
                  
                  <div class="contact-form">
                      <!-- Form -->

                      <div class="title_cont_forms">Heavy Hitters TV</div>
                      <div class="message text-left">Message Sent!</div>
                      <form class="contact-us" data-mailto="theheavyhittersdjstv@gmail.com">

                          <!-- Left Inputs -->
                          <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                              <!-- Name -->
                              <input type="text" name="name" id="name" required class="form" placeholder="Name" />
                              <!-- Email -->
                              <input type="email" name="mail" id="mail" required class="form" placeholder="Email" />
                              <!-- Subject -->

                              <input type="text" name="_subject" id="subject" required class="form" placeholder="Subject" />
                              <!-- Right Inputs -->
                              <div class="wow animated slideInRight" data-wow-delay=".5s">
                                  <!-- Message -->
                                  <textarea name="message" id="message" class="form textarea"  placeholder="Message"></textarea>
                              </div><!-- End Right Inputs -->
                              </div><!-- End Left Inputs -->

                          <!-- Bottom Submit -->
                          <div class="relative fullwidth col-xs-12">
                              <!-- Send Button -->
                              <button type="submit" id="submit" name="submit" class="form-btn semibold">Send Message</button> 
                          </div><!-- End Bottom Submit -->
                          <!-- Clear -->
                          <div class="clear"></div>
                      </form>

                      <!-- Your Mail Message -->
                      <div class="mail-message-area">
                          <!-- Message -->
                          <div class="alert gray-bg mail-message not-visible-message">
                              <strong>Thank You !</strong> Your email has been delivered.
                          </div>
                      </div>

                  </div> <!-- fourth contact ends here -->
              </div>
      </div>


<!--Cover Display None at the begining  --> 
  <div id="cover">
    <div class="close_sub" id="close-btn"><img src="../images/cancel.svg" style="width:20px"></div>
    <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-lg-8">
               <div id="nws-name" style="text-transform: uppercase;"></div>
               <div id="nws-posted" style="margin-top: 45px"></div>
               <div id="nws-image"></div>
               <div id="nws-video" style="margin-top: 50px;"></div>
          <div>
           <p id="nws-content" style="z-index: 1; color:black; text-align: justify; width: 98%; margin-top: 20px; margin-bottom: 10px;font-family:CalibriReg; font-size: 16px; line-height: 25px; text-transform: uppercase;"></p>
       </div>
       <div id="nws-audio" style="margin-top: 10px;"></div>
       <div style="clear:both; height: 100px;"></div>
    </div>      

          <div class="col-xs-12 col-sm-4 col-lg-4">
              <div id="myrightcolumn">
                 <% @news.each do |news| %>
                   <div style="margin-top: 80px">
                       <%= image_tag news.avatar.url %>
                        <div id="rightagendatwo">
                            <div class="news_line cvr" id="mytitle" style="text-transform: uppercase;">
                                <a id="<%= news.id %>" data-firstname="<%= User.find(news.user_id).firstname %>" data-lastname="<%= User.find(news.user_id).lastname %>" data-twitter="<%= User.find(news.user_id).twitter %>" data-facebook="<%= User.find(news.user_id).facebook %>" data-instagram="<%= User.find(news.user_id).instagram %>"><span id="mytitle1"><%= news.title1 %></span> &nbsp;<%= news.title %></a>
                            </div>
                            <div id="myline"></div>
                        </div>
                   </div>
                 <% end %>
              </div>
          </div>   
      </div>
    </div>
    </div>
  <!-- End of Cover Div -->

  <div class="general_cont" id="general">
  <!-- Section NEWS -->
    <div class="column_left">
         <div class="column_title" style="color: #44031c">NEWS</div>
         <% @news.each do |news| %>
           <div class="news_post" style="margin-top: 80px">
             <%= image_tag news.avatar.url %>
           <div class="news_post_title news_line">
              <a id="<%= news.id %>"><span class="name_news"><%= news.title1 %></span> <%= news.title %></a>
           </div>
           <div class="agenda_post_line"></div>
       </div>
      <% end %> 
    </div>
  <!-- End of Section NEWS -->  

  <!--  Section PRESS -->  
    <div class="column_mid">
        <div class="column_title">PRESS</div>
            <% @press.each do |press| %>
              <div class="new_event press_cont">
                   <%= image_tag press.avatar.url %>
                 <div class="press">
                    <div class="agenda_post_title">
                       <a href="<%= press.link%>" target="_blank"><%= press.title %></a>
                    </div>
                 <div class="agenda_post_line"></div>
              </div>
           </div>
         <% end %>
    </div>
    <!--  End of Section PRESS -->        
    
    <!-- Section CALENDAR or EVENTS -->
    <div class="column_right">
         <div class="column_title" style="margin-bottom: 40px">Calendar</div>
             <% @events.each do |event| %>
               <div class="new_event" style="margin-top: 80px">
                   <%= image_tag event.avatar.url %>
                      <div class="date">
                        <%= event.month %> . <%= event.day %>
                      </div>
                    <div class="right_agenda">
                      <div class="agenda_post_title">
                        <%= event.title %>
                      </div>
                      <div class="agenda_post_line"></div>
                 </div>
               </div>
             <% end %>
         </div>
      </div>   
     <!-- End of Section CALENDAR or EVENTS -->
  </div>
    <script type="text/javascript">
        
   $(document).scroll(function() {
     
      var status = false;
     
      if (status==false) {
      
        $('#video').animate({ top: '-400px' }, 'slow');
        $('.logo').animate({ marginTop: '-400px' }, 'slow');
        $('.menuBar').fadeIn('slow');
      
         status=true;   
      } 
    });
      
    $(document).ready(function(){
  
    var mywidth = (window.innerWidth > 0) ? window.innerWidth : screen.width;

        if(mywidth < 990) {
          // alert('yes')
             $(".logo_m ").css('margin-right', '0px');
             $('.press_cont').css('height', '15%');
             $("#myrightcolumn ").css('margin-top', '85px');
        }

        $(".close_sub_cat").click(function(){
        $('.content_sub').fadeOut('slow');
        
        });
      
      $(".contact_bttn").click(function(){
            
        $('.content_sub_sec').fadeIn('slow');
        $('.content_sub').fadeOut('slow');
        });
      
      $(".close_sub_cat_sec").click(function(){
        $('.content_sub_sec').fadeOut('slow');
        
        });
      
      $(".logo").click(function(){
            $('.vid-container').animate({ marginTop: '-800px' }, 500);
        $('.menuBar').fadeIn('500');
        $('.logo').animate({ marginTop: '-400px' }, 'slow');
        });
      
      $(".down").click(function(){
            $('#video').animate({ top: '-300px' }, 500);
        $('.menuBar').fadeIn('500');
        $('.up').fadeIn('500');
        $('.logo').animate({ marginTop: '-400px' }, 'slow');
        });
      
      $(".up").click(function(){
            $('#video').animate({ top: '0px' }, 500);
        $('.menuBar').fadeOut('500');
        $('.up').fadeOut('500');
        $('.logo').animate({ marginTop: '0px' }, 'slow');
        });
      
      $(".hot_box_bttn").click(function(){
            $('#video').animate({ top: '0px' }, 500);
        $('.menuBar').fadeOut('500');
        $('.up').fadeOut('500');
        $('.logo').animate({ marginTop: '0px' }, 'slow');
        });
      
    });
      
    $(document).ready(function(){
        
        $(".on-air").click(function(){
      
      $(".close_sub_cat").css("right", '4.5%');

        $('.content_sub').fadeIn('slow');
        $('.content_sub_sec').fadeOut('slow');
        }); 
        
        var checker = 0;
        
        // Ajax Request for News Section 

        $(".news_line a").click(function() {
        
          var id = $(this).attr("id");
        
           $.ajax ({
                  url: 'news/last/'+id,
                  type: 'GET',
                  dataType:"json",
                  success: function(result) {
                    // console.log(result)
                    $("#nws-name").html('<span class="name_news_two" id="mytitle1">'+result.title1 + '</span>' + "  " + result.title);
                    $("#nws-image").html('<img src="' + result.avatar_url + '" id="myimg" class="img-responsive">');
                    $("#nws-posted").html('<span> Posted '+ $.format.date(result.created_at, "MMM dd, yyyy") + ' by </span>' + '<span style="color:#44031c; font-weight:600" id="nws-author"></span> <span id="authorfb"></span> <span id="authortwt"></span> <span id="authorinst"></span>');
                   
                    var arr = $('.news_line.cvr a');
                    for(i=0; i < arr.length; i++) {
                      if(arr[i].id == result.id) {
                        $("#nws-author").html(arr[i].dataset.firstname + " " + arr[i].dataset.lastname);
                      
                        if(arr[i].dataset.twitter) {
                          $("#authortwt").html('<a href="' + arr[i].dataset.twitter +'" target="_blank" class="scmedia"><img src="../images/tw.png" style="width:20px; height:auto"/></a>');
                        }

                        if(arr[i].dataset.facebook) {
                          $("#authorfb").html('<a href="' + arr[i].dataset.facebook +'" target="_blank" class="scmedia"><img src="../images/fbc.png" style="width:20px; height:auto; display:inline-block"/></a>');
                        }

                        if(arr[i].dataset.instagram) {
                          $("#authorinst").html('<a href="' + arr[i].dataset.instagram +'" target="_blank" class="scmedia"><img src="../images/ig.png" style="width:20px; height:auto; display:inline-block"/></a>');
                        }
                      }
                      
                    }

                    if(result.video && result.video.length) {
                    
                      $("#nws-video").html('<iframe width="98%" height="500" src="' + result.video + '" id="ivideo" frameborder="0" allowfullscreen></iframe>')

                    } else {

                      $("#ivideo").remove();

                    }

                    if(result.audio && result.audio.length && result.audio.includes("spotify")) {

                      $("#nws-audio").html('<iframe src="' + result.audio + '" id="iaudio" scrolling="no" width="98%" height="380" scrollbars="no" frameborder="0"></iframe>');
                    
                    } else if(result.audio && result.audio.length && result.audio.includes("soundcloud")) {

                      $("#nws-audio").html('<iframe id="iaudio" width="98%" height="450" scrolling="no" frameborder="no" src="'+ result.audio + '"></iframe>');

                    } else if(result.audio && result.audio.length) {

                      $("#nws-audio").html('<iframe src="' + result.audio + '" id="iaudio" scrolling="no" width="98%" height="252" scrollbars="no" frameborder="0"></iframe>');

                    } else {
                      $("#iaudio").remove();
                    }

                    $("#nws-content").html(result.content);
                  
                  }
              });
           
           if(checker == 0) {
           
           $("#general").fadeOut();
            $("#cover").fadeIn();
              checker = 1;
           }
           
      });
        
        $("#close-btn").click(function() {
          $("#general").show();
          $("#cover").fadeOut();
            
            checker = 0;
        })

    });
    
    function MM_swapImgRestore() { //v3.0
      var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
    }
    function MM_preloadImages() { //v3.0
      var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
        var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
        if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
    }

    function MM_findObj(n, d) { //v4.01
      var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
        d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
      if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
      for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
      if(!x && d.getElementById) x=d.getElementById(n); return x;
    }

    function MM_swapImage() { //v3.0
      var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
       if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
    } 

    $(document).ready(function() {

      $(".contact-us").submit(function(e) {
        const receiver = this.dataset.mailto;
        const name = $("#name").val();
        const email = $("#mail").val();
        const subject = $("#subject").val();
        const message = $("#message").val();

        $.ajax({
          url: "https://formspree.io/" + receiver, 
          method: "POST",
          data: $(this).serialize(),
          dataType: "json"
        });

        e.preventDefault();
        $(this).get(0).reset();
        $(this).siblings(".message.text-left").css("display", "inline-block");
        setTimeout(function(){
          
          $(".message").css("display", "none");
        },5000)
      });
    });

    var DateFormat = {};

  (function($) {
    var daysInWeek          = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
    var shortDaysInWeek     = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
    var shortMonthsInYear   = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    var longMonthsInYear    = ['January', 'February', 'March', 'April', 'May', 'June',
                                'July', 'August', 'September', 'October', 'November', 'December'];
    var shortMonthsToNumber = { 'Jan': '01', 'Feb': '02', 'Mar': '03', 'Apr': '04', 'May': '05', 'Jun': '06',
                                'Jul': '07', 'Aug': '08', 'Sep': '09', 'Oct': '10', 'Nov': '11', 'Dec': '12' };

    var YYYYMMDD_MATCHER = /\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.?\d{0,3}[Z\-+]?(\d{2}:?\d{2})?/;

    $.format = (function() {
      function numberToLongDay(value) {
        // 0 to Sunday
        // 1 to Monday
        return daysInWeek[parseInt(value, 10)] || value;
      }

      function numberToShortDay(value) {
        // 0 to Sun
        // 1 to Mon
        return shortDaysInWeek[parseInt(value, 10)] || value;
      }

      function numberToShortMonth(value) {
        // 1 to Jan
        // 2 to Feb
        var monthArrayIndex = parseInt(value, 10) - 1;
        return shortMonthsInYear[monthArrayIndex] || value;
      }

      function numberToLongMonth(value) {
        // 1 to January
        // 2 to February
        var monthArrayIndex = parseInt(value, 10) - 1;
        return longMonthsInYear[monthArrayIndex] || value;
      }

      function shortMonthToNumber(value) {
        // Jan to 01
        // Feb to 02
        return shortMonthsToNumber[value] || value;
      }

      function parseTime(value) {
        // 10:54:50.546
        // => hour: 10, minute: 54, second: 50, millis: 546
        // 10:54:50
        // => hour: 10, minute: 54, second: 50, millis: ''
        var time = value,
            hour,
            minute,
            second,
            millis = '',
            delimited,
            timeArray;

        if(time.indexOf('.') !== -1) {
          delimited = time.split('.');
          // split time and milliseconds
          time   = delimited[0];
          millis = delimited[delimited.length - 1];
        }

        timeArray = time.split(':');

        if(timeArray.length === 3) {
          hour   = timeArray[0];
          minute = timeArray[1];
          // '20 GMT-0200 (BRST)'.replace(/\s.+/, '').replace(/[a-z]/gi, '');
          // => 20
          // '20Z'.replace(/\s.+/, '').replace(/[a-z]/gi, '');
          // => 20
          second = timeArray[2].replace(/\s.+/, '').replace(/[a-z]/gi, '');
          // '01:10:20 GMT-0200 (BRST)'.replace(/\s.+/, '').replace(/[a-z]/gi, '');
          // => 01:10:20
          // '01:10:20Z'.replace(/\s.+/, '').replace(/[a-z]/gi, '');
          // => 01:10:20
          time = time.replace(/\s.+/, '').replace(/[a-z]/gi, '');
          return {
            time:    time,
            hour:    hour,
            minute:  minute,
            second:  second,
            millis:  millis
          };
        }

        return { time : '', hour : '', minute : '', second : '', millis : '' };
      }


      function padding(value, length) {
        var paddingCount = length - String(value).length;
        for(var i = 0; i < paddingCount; i++) {
          value = '0' + value;
        }
        return value;
      }

      return {

        parseDate: function(value) {
          var values,
              subValues;

          var parsedDate = {
            date:       null,
            year:       null,
            month:      null,
            dayOfMonth: null,
            dayOfWeek:  null,
            time:       null
          };

          if(typeof value == 'number') {
            return this.parseDate(new Date(value));
          } else if(typeof value.getFullYear == 'function') {
            parsedDate.year       = String(value.getFullYear());
            // d = new Date(1900, 1, 1) // 1 for Feb instead of Jan.
            // => Thu Feb 01 1900 00:00:00
            parsedDate.month      = String(value.getMonth() + 1);
            parsedDate.dayOfMonth = String(value.getDate());
            parsedDate.time       = parseTime(value.toTimeString() + "." + value.getMilliseconds());
          } else if(value.search(YYYYMMDD_MATCHER) != -1) {
            /* 2009-04-19T16:11:05+02:00 || 2009-04-19T16:11:05Z */
            values = value.split(/[T\+-]/);
            parsedDate.year       = values[0];
            parsedDate.month      = values[1];
            parsedDate.dayOfMonth = values[2];
            parsedDate.time       = parseTime(values[3].split('.')[0]);
          } else {
            values = value.split(' ');
            if(values.length === 6 && isNaN(values[5])) {
              // values[5] == year
              /*
               * This change is necessary to make `Mon Apr 28 2014 05:30:00 GMT-0300` work
               * like `case 7`
               * otherwise it will be considered like `Wed Jan 13 10:43:41 CET 2010
               * Fixes: https://github.com/phstc/jquery-dateFormat/issues/64
               */
              values[values.length] = '()';
            }
            switch (values.length) {
              case 6:
                /* Wed Jan 13 10:43:41 CET 2010 */
                parsedDate.year       = values[5];
                parsedDate.month      = shortMonthToNumber(values[1]);
                parsedDate.dayOfMonth = values[2];
                parsedDate.time       = parseTime(values[3]);
                break;
              case 2:
                /* 2009-12-18 10:54:50.546 */
                subValues = values[0].split('-');
                parsedDate.year       = subValues[0];
                parsedDate.month      = subValues[1];
                parsedDate.dayOfMonth = subValues[2];
                parsedDate.time       = parseTime(values[1]);
                break;
              case 7:
                /* Tue Mar 01 2011 12:01:42 GMT-0800 (PST) */
              case 9:
                /* added by Larry, for Fri Apr 08 2011 00:00:00 GMT+0800 (China Standard Time) */
              case 10:
                /* added by Larry, for Fri Apr 08 2011 00:00:00 GMT+0200 (W. Europe Daylight Time) */
                parsedDate.year       = values[3];
                parsedDate.month      = shortMonthToNumber(values[1]);
                parsedDate.dayOfMonth = values[2];
                parsedDate.time       = parseTime(values[4]);
                break;
              case 1:
                /* added by Jonny, for 2012-02-07CET00:00:00 (Doctrine Entity -> Json Serializer) */
                subValues = values[0].split('');
                parsedDate.year       = subValues[0] + subValues[1] + subValues[2] + subValues[3];
                parsedDate.month      = subValues[5] + subValues[6];
                parsedDate.dayOfMonth = subValues[8] + subValues[9];
                parsedDate.time       = parseTime(subValues[13] + subValues[14] + subValues[15] + subValues[16] + subValues[17] + subValues[18] + subValues[19] + subValues[20]);
                break;
              default:
                return null;
            }
          }

          if(parsedDate.time) {
            parsedDate.date = new Date(parsedDate.year, parsedDate.month - 1, parsedDate.dayOfMonth, parsedDate.time.hour, parsedDate.time.minute, parsedDate.time.second, parsedDate.time.millis);
          } else {
            parsedDate.date = new Date(parsedDate.year, parsedDate.month - 1, parsedDate.dayOfMonth);
          }

          parsedDate.dayOfWeek = String(parsedDate.date.getDay());

          return parsedDate;
        },

        date : function(value, format) {
          try {
            var parsedDate = this.parseDate(value);

            if(parsedDate === null) {
              return value;
            }

            var year       = parsedDate.year,
                month      = parsedDate.month,
                dayOfMonth = parsedDate.dayOfMonth,
                dayOfWeek  = parsedDate.dayOfWeek,
                time       = parsedDate.time;
            var hour;

            var pattern      = '',
                retValue     = '',
                unparsedRest = '',
                inQuote      = false;

            /* Issue 1 - variable scope issue in format.date (Thanks jakemonO) */
            for(var i = 0; i < format.length; i++) {
              var currentPattern = format.charAt(i);
              // Look-Ahead Right (LALR)
              var nextRight      = format.charAt(i + 1);

              if (inQuote) {
                if (currentPattern == "'") {
                  retValue += (pattern === '') ? "'" : pattern;
                  pattern = '';
                  inQuote = false;
                } else {
                  pattern += currentPattern;
                }
                continue;
              }
              pattern += currentPattern;
              unparsedRest = '';
              switch (pattern) {
                case 'ddd':
                  retValue += numberToLongDay(dayOfWeek);
                  pattern = '';
                  break;
                case 'dd':
                  if(nextRight === 'd') {
                    break;
                  }
                  retValue += padding(dayOfMonth, 2);
                  pattern = '';
                  break;
                case 'd':
                  if(nextRight === 'd') {
                    break;
                  }
                  retValue += parseInt(dayOfMonth, 10);
                  pattern = '';
                  break;
                case 'D':
                  if(dayOfMonth == 1 || dayOfMonth == 21 || dayOfMonth == 31) {
                    dayOfMonth = parseInt(dayOfMonth, 10) + 'st';
                  } else if(dayOfMonth == 2 || dayOfMonth == 22) {
                    dayOfMonth = parseInt(dayOfMonth, 10) + 'nd';
                  } else if(dayOfMonth == 3 || dayOfMonth == 23) {
                    dayOfMonth = parseInt(dayOfMonth, 10) + 'rd';
                  } else {
                    dayOfMonth = parseInt(dayOfMonth, 10) + 'th';
                  }
                  retValue += dayOfMonth;
                  pattern = '';
                  break;
                case 'MMMM':
                  retValue += numberToLongMonth(month);
                  pattern = '';
                  break;
                case 'MMM':
                  if(nextRight === 'M') {
                    break;
                  }
                  retValue += numberToShortMonth(month);
                  pattern = '';
                  break;
                case 'MM':
                  if(nextRight === 'M') {
                    break;
                  }
                  retValue += padding(month, 2);
                  pattern = '';
                  break;
                case 'M':
                  if(nextRight === 'M') {
                    break;
                  }
                  retValue += parseInt(month, 10);
                  pattern = '';
                  break;
                case 'y':
                case 'yyy':
                  if(nextRight === 'y') {
                    break;
                  }
                  retValue += pattern;
                  pattern = '';
                  break;
                case 'yy':
                  if(nextRight === 'y') {
                    break;
                  }
                  retValue += String(year).slice(-2);
                  pattern = '';
                  break;
                case 'yyyy':
                  retValue += year;
                  pattern = '';
                  break;
                case 'HH':
                  retValue += padding(time.hour, 2);
                  pattern = '';
                  break;
                case 'H':
                  if(nextRight === 'H') {
                    break;
                  }
                  retValue += parseInt(time.hour, 10);
                  pattern = '';
                  break;
                case 'hh':
                  /* time.hour is '00' as string == is used instead of === */
                  hour = (parseInt(time.hour, 10) === 0 ? 12 : time.hour < 13 ? time.hour
                      : time.hour - 12);
                  retValue += padding(hour, 2);
                  pattern = '';
                  break;
                case 'h':
                  if(nextRight === 'h') {
                    break;
                  }
                  hour = (parseInt(time.hour, 10) === 0 ? 12 : time.hour < 13 ? time.hour
                      : time.hour - 12);
                  retValue += parseInt(hour, 10);
                  // Fixing issue https://github.com/phstc/jquery-dateFormat/issues/21
                  // retValue = parseInt(retValue, 10);
                  pattern = '';
                  break;
                case 'mm':
                  retValue += padding(time.minute, 2);
                  pattern = '';
                  break;
                case 'm':
                  if(nextRight === 'm') {
                    break;
                  }
                  retValue += time.minute;
                  pattern = '';
                  break;
                case 'ss':
                  /* ensure only seconds are added to the return string */
                  retValue += padding(time.second.substring(0, 2), 2);
                  pattern = '';
                  break;
                case 's':
                  if(nextRight === 's') {
                    break;
                  }
                  retValue += time.second;
                  pattern = '';
                  break;
                case 'S':
                case 'SS':
                  if(nextRight === 'S') {
                    break;
                  }
                  retValue += pattern;
                  pattern = '';
                  break;
                case 'SSS':
                  var sss = '000' + time.millis.substring(0, 3);
                  retValue +=  sss.substring(sss.length - 3);
                  pattern = '';
                  break;
                case 'a':
                  retValue += time.hour >= 12 ? 'PM' : 'AM';
                  pattern = '';
                  break;
                case 'p':
                  retValue += time.hour >= 12 ? 'p.m.' : 'a.m.';
                  pattern = '';
                  break;
                case 'E':
                  retValue += numberToShortDay(dayOfWeek);
                  pattern = '';
                  break;
                case "'":
                  pattern = '';
                  inQuote = true;
                  break;
                default:
                  retValue += currentPattern;
                  pattern = '';
                  break;
              }
            }
            retValue += unparsedRest;
            return retValue;
          } catch (e) {
            if(console && console.log) {
              console.log(e);
            }
            return value;
          }
        },
        /*
         * JavaScript Pretty Date
         * Copyright (c) 2011 John Resig (ejohn.org)
         * Licensed under the MIT and GPL licenses.
         *
         * Takes an ISO time and returns a string representing how long ago the date
         * represents
         *
         * ('2008-01-28T20:24:17Z') // => '2 hours ago'
         * ('2008-01-27T22:24:17Z') // => 'Yesterday'
         * ('2008-01-26T22:24:17Z') // => '2 days ago'
         * ('2008-01-14T22:24:17Z') // => '2 weeks ago'
         * ('2007-12-15T22:24:17Z') // => 'more than 5 weeks ago'
         *
         */
        prettyDate : function(time) {
          var date;
          var diff;
          var day_diff;

          if(typeof time === 'string' || typeof time === 'number') {
            date = new Date(time);
          }

          if(typeof time === 'object') {
            date = new Date(time.toString());
          }

          diff = (((new Date()).getTime() - date.getTime()) / 1000);

          day_diff = Math.floor(diff / 86400);

          if(isNaN(day_diff) || day_diff < 0) {
            return;
          }

          if(diff < 60) {
            return 'just now';
          } else if(diff < 120) {
            return '1 minute ago';
          } else if(diff < 3600) {
            return Math.floor(diff / 60) + ' minutes ago';
          } else if(diff < 7200) {
            return '1 hour ago';
          } else if(diff < 86400) {
            return Math.floor(diff / 3600) + ' hours ago';
          } else if(day_diff === 1) {
            return 'Yesterday';
          } else if(day_diff < 7) {
            return day_diff + ' days ago';
          } else if(day_diff < 31) {
            return Math.ceil(day_diff / 7) + ' weeks ago';
          } else if(day_diff >= 31) {
            return 'more than 5 weeks ago';
          }
        },
        toBrowserTimeZone : function(value, format) {
          return this.date(new Date(value), format || 'MM/dd/yyyy HH:mm:ss');
        }
      };
    }());
  }(DateFormat));
  ;// require dateFormat.js
  // please check `dist/jquery.dateFormat.js` for a complete version
  (function($) {
    $.format = DateFormat.format;
  }(jQuery));

   </script>

  </body>
</html>
